<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c25384cdd585f35dd7247f646961ab6d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    <style>
        .container {
            width: 1800px;
            height: 800px;
          position: relative;
          text-align: center;
        }
          a.but {
          background-color: #079eef;
          border: black;
          color: white;
          padding: 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          margin-left: auto;
          margin-right: 0;
          font-size: 16px;
          margin: 4px 2px;
          border-radius: 125%;
          position: absolute;
          top: 5px;
          left: 0.5mm;
          z-index: 10;
        }
    </style>  
           <div class="container">
            <div class="folium-map" id="map_c25384cdd585f35dd7247f646961ab6d" style="z-index: 2;"></div>
            <a href="route" class="but">
                Start</a>
            </div>
</body>
<script>    
    
            var map_c25384cdd585f35dd7247f646961ab6d = L.map(
                "map_c25384cdd585f35dd7247f646961ab6d",
                {
                    center: [10.743432, 78.7632113],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_244616e9cff57ae0f0ba1e3c2e9788b5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
            var marker_36b6178a6709fe5c35a7596274cca724 = L.marker(
                [10.761082, 78.706466],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_fd88e12e016902adfeeaada2a8eb7f0a = L.popup({"maxWidth": "100%"});

        
            var html_03328160885157a0b216d4711502edac = $(`<div id="html_03328160885157a0b216d4711502edac" style="width: 100.0%; height: 100.0%;">Airport</div>`)[0];
            popup_fd88e12e016902adfeeaada2a8eb7f0a.setContent(html_03328160885157a0b216d4711502edac);
        

        marker_36b6178a6709fe5c35a7596274cca724.bindPopup(popup_fd88e12e016902adfeeaada2a8eb7f0a)
        ;

        
    
    
            var marker_90eab4ab8406311027831697b3bcf139 = L.marker(
                [10.753057, 78.710072],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_9ed52f3d34134246b7b4cd0026fc08ec = L.popup({"maxWidth": "100%"});

        
            var html_3534a4fdcf47d27df6b9b0a8adafd9a4 = $(`<div id="html_3534a4fdcf47d27df6b9b0a8adafd9a4" style="width: 100.0%; height: 100.0%;">Postoffice</div>`)[0];
            popup_9ed52f3d34134246b7b4cd0026fc08ec.setContent(html_3534a4fdcf47d27df6b9b0a8adafd9a4);
        

        marker_90eab4ab8406311027831697b3bcf139.bindPopup(popup_9ed52f3d34134246b7b4cd0026fc08ec)
        ;

        
    
    
            var marker_0d4b955a5d26a999a30a24903c68e41b = L.marker(
                [10.745511, 78.713681],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_a51c606686a8ddd3d8bed3ba0c1bfd33 = L.popup({"maxWidth": "100%"});

        
            var html_da259187cc88f87146dc0b7e095863a8 = $(`<div id="html_da259187cc88f87146dc0b7e095863a8" style="width: 100.0%; height: 100.0%;">Abbot School</div>`)[0];
            popup_a51c606686a8ddd3d8bed3ba0c1bfd33.setContent(html_da259187cc88f87146dc0b7e095863a8);
        

        marker_0d4b955a5d26a999a30a24903c68e41b.bindPopup(popup_a51c606686a8ddd3d8bed3ba0c1bfd33)
        ;

        
    
    
            var marker_bd1b56ea758aa90940e5c78498dd8e8e = L.marker(
                [10.735276, 78.717905],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_1d33e5304eb3c19355d8faafc75450cb = L.popup({"maxWidth": "100%"});

        
            var html_28057071558b188054d58fa38aa179a8 = $(`<div id="html_28057071558b188054d58fa38aa179a8" style="width: 100.0%; height: 100.0%;">KK Nagar</div>`)[0];
            popup_1d33e5304eb3c19355d8faafc75450cb.setContent(html_28057071558b188054d58fa38aa179a8);
        

        marker_bd1b56ea758aa90940e5c78498dd8e8e.bindPopup(popup_1d33e5304eb3c19355d8faafc75450cb)
        ;

        
    
    
            var marker_5287e53c3686ffe650eaeccf57481083 = L.marker(
                [10.729684, 78.722789],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_25d11984bf4f87232a34ebfcaba21814 = L.popup({"maxWidth": "100%"});

        
            var html_627c78d16e0875a51df90b84e5172e8b = $(`<div id="html_627c78d16e0875a51df90b84e5172e8b" style="width: 100.0%; height: 100.0%;">Gundur</div>`)[0];
            popup_25d11984bf4f87232a34ebfcaba21814.setContent(html_627c78d16e0875a51df90b84e5172e8b);
        

        marker_5287e53c3686ffe650eaeccf57481083.bindPopup(popup_25d11984bf4f87232a34ebfcaba21814)
        ;

        
    
    
            var marker_67aed777efd81133edd545ac7362a9bc = L.marker(
                [10.730701, 78.729866],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_ae18c2271aaeec4fc5c7544a68f9c06e = L.popup({"maxWidth": "100%"});

        
            var html_730c9431b610f8cc3bd3e0d614a3a874 = $(`<div id="html_730c9431b610f8cc3bd3e0d614a3a874" style="width: 100.0%; height: 100.0%;">AnbiNagar</div>`)[0];
            popup_ae18c2271aaeec4fc5c7544a68f9c06e.setContent(html_730c9431b610f8cc3bd3e0d614a3a874);
        

        marker_67aed777efd81133edd545ac7362a9bc.bindPopup(popup_ae18c2271aaeec4fc5c7544a68f9c06e)
        ;

        
    
    
            var marker_cd143afce099fea5b9477221509b1aff = L.marker(
                [10.731926, 78.739229],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_e084fc7df9abf761a9ef80cde4cd3c03 = L.popup({"maxWidth": "100%"});

        
            var html_545d71696e259bd1cc87ef6cece4f069 = $(`<div id="html_545d71696e259bd1cc87ef6cece4f069" style="width: 100.0%; height: 100.0%;">LIC Colony</div>`)[0];
            popup_e084fc7df9abf761a9ef80cde4cd3c03.setContent(html_545d71696e259bd1cc87ef6cece4f069);
        

        marker_cd143afce099fea5b9477221509b1aff.bindPopup(popup_e084fc7df9abf761a9ef80cde4cd3c03)
        ;

        
    
    
            var marker_9a9ff269b5dc7ca51d747d3f7752e16d = L.marker(
                [10.734117, 78.753401],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_5cc88e8a9d92268299cdddce25af413b = L.popup({"maxWidth": "100%"});

        
            var html_c05f6cf91dc9fdd6f751cec7a137824b = $(`<div id="html_c05f6cf91dc9fdd6f751cec7a137824b" style="width: 100.0%; height: 100.0%;">Gandhi Nagar</div>`)[0];
            popup_5cc88e8a9d92268299cdddce25af413b.setContent(html_c05f6cf91dc9fdd6f751cec7a137824b);
        

        marker_9a9ff269b5dc7ca51d747d3f7752e16d.bindPopup(popup_5cc88e8a9d92268299cdddce25af413b)
        ;

        
    
    
            var marker_f4abc7948fd0ecaf8bc539b34158e5c0 = L.marker(
                [10.73531, 78.761267],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_d1b5cce5e8a700d93b2395520e563bed = L.popup({"maxWidth": "100%"});

        
            var html_366f50a9bca838884b69859695d4d4c0 = $(`<div id="html_366f50a9bca838884b69859695d4d4c0" style="width: 100.0%; height: 100.0%;">Ayyapan Nagar</div>`)[0];
            popup_d1b5cce5e8a700d93b2395520e563bed.setContent(html_366f50a9bca838884b69859695d4d4c0);
        

        marker_f4abc7948fd0ecaf8bc539b34158e5c0.bindPopup(popup_d1b5cce5e8a700d93b2395520e563bed)
        ;

        
    
    
            var marker_41eea4ccdc09fdcb84c5b641a22334f7 = L.marker(
                [10.736212, 78.765209],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_2eed569d6578b0a7a7d61c039cea9b3b = L.popup({"maxWidth": "100%"});

        
            var html_355e936888270e259e3889a81eefa424 = $(`<div id="html_355e936888270e259e3889a81eefa424" style="width: 100.0%; height: 100.0%;">IT gate1</div>`)[0];
            popup_2eed569d6578b0a7a7d61c039cea9b3b.setContent(html_355e936888270e259e3889a81eefa424);
        

        marker_41eea4ccdc09fdcb84c5b641a22334f7.bindPopup(popup_2eed569d6578b0a7a7d61c039cea9b3b)
        ;

        
    
    
            var marker_b5c9e1b709136f09399e1860938eb568 = L.marker(
                [10.742862, 78.763222],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_fe2f6fcf641c9089797780027109aa14 = L.popup({"maxWidth": "100%"});

        
            var html_dc23851b105ac9efbab0bbb74515f7db = $(`<div id="html_dc23851b105ac9efbab0bbb74515f7db" style="width: 100.0%; height: 100.0%;">IT gate2</div>`)[0];
            popup_fe2f6fcf641c9089797780027109aa14.setContent(html_dc23851b105ac9efbab0bbb74515f7db);
        

        marker_b5c9e1b709136f09399e1860938eb568.bindPopup(popup_fe2f6fcf641c9089797780027109aa14)
        ;

        
    
    
            var marker_4f238011c8d78f3f70e04c92902f1a9a = L.marker(
                [10.749647, 78.757922],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_da06ea10f65b6daf798a953e2599cd1a = L.popup({"maxWidth": "100%"});

        
            var html_5b03bc054ba756cd8e2ba8f7d8123be3 = $(`<div id="html_5b03bc054ba756cd8e2ba8f7d8123be3" style="width: 100.0%; height: 100.0%;">Sabari Mill</div>`)[0];
            popup_da06ea10f65b6daf798a953e2599cd1a.setContent(html_5b03bc054ba756cd8e2ba8f7d8123be3);
        

        marker_4f238011c8d78f3f70e04c92902f1a9a.bindPopup(popup_da06ea10f65b6daf798a953e2599cd1a)
        ;

        
    
    
            var marker_d4a6cefa4b217b13e28f723668f715d3 = L.marker(
                [10.757031, 78.76595],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_6d77245c2fddf767c4def6685c8b8bbb = L.popup({"maxWidth": "100%"});

        
            var html_2c66c62ec2bb3f3e8344c4e7b2df78a5 = $(`<div id="html_2c66c62ec2bb3f3e8344c4e7b2df78a5" style="width: 100.0%; height: 100.0%;">Police Colony</div>`)[0];
            popup_6d77245c2fddf767c4def6685c8b8bbb.setContent(html_2c66c62ec2bb3f3e8344c4e7b2df78a5);
        

        marker_d4a6cefa4b217b13e28f723668f715d3.bindPopup(popup_6d77245c2fddf767c4def6685c8b8bbb)
        ;

        
    
    
            var marker_a2860e1a26eb1731a11f8d54ff13fd2f = L.marker(
                [10.757944, 78.771548],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_5636dfe757d5362b3cd210379c2f2dbf = L.popup({"maxWidth": "100%"});

        
            var html_12e88df148052d2ca767d41732aab811 = $(`<div id="html_12e88df148052d2ca767d41732aab811" style="width: 100.0%; height: 100.0%;">Ashok Nagar</div>`)[0];
            popup_5636dfe757d5362b3cd210379c2f2dbf.setContent(html_12e88df148052d2ca767d41732aab811);
        

        marker_a2860e1a26eb1731a11f8d54ff13fd2f.bindPopup(popup_5636dfe757d5362b3cd210379c2f2dbf)
        ;

        
    
    
            var marker_bf143e06f0d1cf45563e3cdbe8eee523 = L.marker(
                [10.756401, 78.773258],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_3bb824ad90c3692aa727cb0627a471d1 = L.popup({"maxWidth": "100%"});

        
            var html_a4e77f87782624c130749dde891d3a27 = $(`<div id="html_a4e77f87782624c130749dde891d3a27" style="width: 100.0%; height: 100.0%;">JK Nagar</div>`)[0];
            popup_3bb824ad90c3692aa727cb0627a471d1.setContent(html_a4e77f87782624c130749dde891d3a27);
        

        marker_bf143e06f0d1cf45563e3cdbe8eee523.bindPopup(popup_3bb824ad90c3692aa727cb0627a471d1)
        ;

        
    
    
            var marker_bc28d146ccb3d8727f8818c4ed9816d0 = L.marker(
                [10.752006, 78.774268],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_be8ac8e1eece8d3cf336facc6858d95e = L.popup({"maxWidth": "100%"});

        
            var html_363080fcd8fbfa78223dfa9f0a9b6246 = $(`<div id="html_363080fcd8fbfa78223dfa9f0a9b6246" style="width: 100.0%; height: 100.0%;">Sundar Nagar</div>`)[0];
            popup_be8ac8e1eece8d3cf336facc6858d95e.setContent(html_363080fcd8fbfa78223dfa9f0a9b6246);
        

        marker_bc28d146ccb3d8727f8818c4ed9816d0.bindPopup(popup_be8ac8e1eece8d3cf336facc6858d95e)
        ;

        
    
    
            var marker_e4977eae869c892ca6ec5c950a7a351f = L.marker(
                [10.740147, 78.781083],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_0f31fdbdba601830677160ac01a6fd5a = L.popup({"maxWidth": "100%"});

        
            var html_f0b18d54972f92692e3fb9b16aeb6ee9 = $(`<div id="html_f0b18d54972f92692e3fb9b16aeb6ee9" style="width: 100.0%; height: 100.0%;">Simco Meter</div>`)[0];
            popup_0f31fdbdba601830677160ac01a6fd5a.setContent(html_f0b18d54972f92692e3fb9b16aeb6ee9);
        

        marker_e4977eae869c892ca6ec5c950a7a351f.bindPopup(popup_0f31fdbdba601830677160ac01a6fd5a)
        ;

        
    
    
            var marker_4139128e3022cbc8d0269898cbbeaf95 = L.marker(
                [10.737301, 78.782144],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_772b60e0d5020ac5fbcdda1fec2c4869 = L.popup({"maxWidth": "100%"});

        
            var html_cc5a6007bd1e04c0234f1c9af3b8a958 = $(`<div id="html_cc5a6007bd1e04c0234f1c9af3b8a958" style="width: 100.0%; height: 100.0%;">LSP Colony</div>`)[0];
            popup_772b60e0d5020ac5fbcdda1fec2c4869.setContent(html_cc5a6007bd1e04c0234f1c9af3b8a958);
        

        marker_4139128e3022cbc8d0269898cbbeaf95.bindPopup(popup_772b60e0d5020ac5fbcdda1fec2c4869)
        ;

        
    
    
            var marker_9f72dbc853a70828411e50c845dbf59d = L.marker(
                [10.732649, 78.78374],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_c47c7e44403294d6053aeec423589c3d = L.popup({"maxWidth": "100%"});

        
            var html_95715381160be0c2022b13a94f559f69 = $(`<div id="html_95715381160be0c2022b13a94f559f69" style="width: 100.0%; height: 100.0%;">Ennore</div>`)[0];
            popup_c47c7e44403294d6053aeec423589c3d.setContent(html_95715381160be0c2022b13a94f559f69);
        

        marker_9f72dbc853a70828411e50c845dbf59d.bindPopup(popup_c47c7e44403294d6053aeec423589c3d)
        ;

        
    
    
            var marker_c88ef93fceeea4257761031bfc196eae = L.marker(
                [10.723461, 78.784002],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_15f4d5736d3a9741ce45a55ba7fcdfe4 = L.popup({"maxWidth": "100%"});

        
            var html_314f899888d1e6a5a1facbec49c1a2e1 = $(`<div id="html_314f899888d1e6a5a1facbec49c1a2e1" style="width: 100.0%; height: 100.0%;">GH</div>`)[0];
            popup_15f4d5736d3a9741ce45a55ba7fcdfe4.setContent(html_314f899888d1e6a5a1facbec49c1a2e1);
        

        marker_c88ef93fceeea4257761031bfc196eae.bindPopup(popup_15f4d5736d3a9741ce45a55ba7fcdfe4)
        ;

        
    
    
            var marker_770d8736b8cf3978a6bc06ad992787e5 = L.marker(
                [10.717951, 78.784206],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_0131caca736ef1596204e3ade2b38504 = L.popup({"maxWidth": "100%"});

        
            var html_0b8904c6da77f9dba8210fcb466a6f42 = $(`<div id="html_0b8904c6da77f9dba8210fcb466a6f42" style="width: 100.0%; height: 100.0%;">FireStation</div>`)[0];
            popup_0131caca736ef1596204e3ade2b38504.setContent(html_0b8904c6da77f9dba8210fcb466a6f42);
        

        marker_770d8736b8cf3978a6bc06ad992787e5.bindPopup(popup_0131caca736ef1596204e3ade2b38504)
        ;

        
    
    
            var marker_fac9e5ba0b8c4a3aa095b86f54d2af1a = L.marker(
                [10.717873, 78.777807],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_6df070ecadef00a4fd11f83fc493792b = L.popup({"maxWidth": "100%"});

        
            var html_d47ea3aa91fb91b13d63381e724c62a5 = $(`<div id="html_d47ea3aa91fb91b13d63381e724c62a5" style="width: 100.0%; height: 100.0%;">Market</div>`)[0];
            popup_6df070ecadef00a4fd11f83fc493792b.setContent(html_d47ea3aa91fb91b13d63381e724c62a5);
        

        marker_fac9e5ba0b8c4a3aa095b86f54d2af1a.bindPopup(popup_6df070ecadef00a4fd11f83fc493792b)
        ;

        
    
    
            var marker_13feb653dd7e8043fcb238200942e5bd = L.marker(
                [10.716646, 78.76438],
                {}
            ).addTo(map_c25384cdd585f35dd7247f646961ab6d);
        
    
        var popup_6cc0461384b62a18eefd63145a4a0a4e = L.popup({"maxWidth": "100%"});

        
            var html_274e59e0578db57fce0a6f6f4badb611 = $(`<div id="html_274e59e0578db57fce0a6f6f4badb611" style="width: 100.0%; height: 100.0%;">A1 PoliceStation</div>`)[0];
            popup_6cc0461384b62a18eefd63145a4a0a4e.setContent(html_274e59e0578db57fce0a6f6f4badb611);
        

        marker_13feb653dd7e8043fcb238200942e5bd.bindPopup(popup_6cc0461384b62a18eefd63145a4a0a4e)
        ;

        
    
</script>